<section class="sectionAbout">
  <h1 class="titleAbout">sobre mí</h1>
  <h2 class="subtitle">&lt;¡Hola mundo! Soy Cristina&gt;</h2>
  <p class="text">
    Nunca se me ha dado bien describirme, pero aquí estoy intentando que me
    conozcas un poquito más que yo misma.
  </p>
  <p class="text">
    Desde pequeña he transmitido mis sentimientos y pensamientos a través de la
    pintura, cuando fui creciendo pensé que podría estar bien estudiar lo que
    sentían los antiguos artistas como Goya o Velazquez, ya que me veía incapaz
    ser uno de ellos. Y así fue como acabé en Historia del Arte. Una carrera que
    disfruté como una enana y fui muy feliz estudiándola.
  </p>

  <p class="text">
    Pero mi interés por el arte encontró un nuevo lienzo en el mundo digital. Decidí
    dar un giro radical y me sumergí en un bootcamp de programación. Este cambio
    ha sido una travesía emocionante, donde mi pasión por el arte se fusiona con
    la creatividad y la lógica del desarrollo web.
  </p>
  <p class="text">
    Mi formación en historia del arte me ha brindado una perspectiva única en mi
    enfoque hacia el diseño y la creación en el mundo digital. Cada línea de
    código es una obra de arte en sí misma, una expresión de mi capacidad para
    enfrentar nuevos desafíos y crear algo bonito desde una pantalla en blanco.
  </p>

  <svg
    class="bicho"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path
      d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
      class="shape-fill"
    ></path>
  </svg>
</section>
