<section class="sectionProjects">
  <h2 class="titleProjects">proyectos</h2>
  
  <div class="box">
    <div class="card">
      <img class="card__img" src="./assets/images/desktop-ahorcado.png" alt="" />
      <h3 class="card__title">Juego del Ahorcado</h3>
      <p class="card__tech">HTML | SCSS | REACT</p><i class="fa-brands fa-github-alt card__iconProject"></i>
    </div>

    <div class="card">
      <img class="card__img" src="./assets/images/desktop-piedra.png" alt="" />
      <h3 class="card__title">Juego Piedra, papel o tijera</h3>
      <p class="card__tech">HTML | SCSS | JavaScript</p><i class="fa-brands fa-github-alt card__iconProject"></i>
    </div>

    <div class="card">
      <img class="card__img" src="./assets/images/desktop-memory.png" alt="" />
      <h3 class="card__title">Memory Art</h3>
      <p class="card__tech">HTML | SCSS | JavaScript</p><i class="fa-brands fa-github-alt card__iconProject"></i>
    </div>

    <div class="card">
      <img class="card__img" src="./assets/images/desktop-owen.png" alt="" />
      <h3 class="card__title">Owen Wilson Woow!</h3>
      <p class="card__tech">HTML | SCSS | REACT</p><i class="fa-brands fa-github-alt card__iconProject"></i>
    </div>

    <div class="card">
      <img class="card__img" src="./assets/images/desktop-magicos.png" alt="" />
      <h3 class="card__title">Proyectos mágicos</h3>
      <p class="card__tech">HTML | SCSS | REACT | MySQL</p>
      <i class="fa-brands fa-github-alt card__iconProject"></i>
    </div>
    <div class="card">
      <img class="card__img" src="./assets/images/desktop-awesome.png" alt="" />
      <h3 class="card__title">The Awesome Profile-cards</h3>
      <p class="card__tech">HTML | SCSS | JavaScript</p>
      <i class="fa-brands fa-github-alt card__iconProject"></i>
    </div>
  </div>

</section>