<section class="sectionProjects">
  <h2 class="titleProjects">proyectos</h2>

  <div class="box">
    <div class="card">
      <a href="https://crisrodriguezgar.github.io/hangman-game/" target="_blank"><img class="card__img" src="./assets/images/desktop-ahorcado.png" alt="proyecto ahorcado"/></a>
      <h3 class="card__title">Juego del Ahorcado</h3>
      <p class="card__tech">HTML | SCSS | REACT</p>
      <div><a href="https://crisrodriguezgar.github.io/hangman-game/" target="_blank"><i
            class="fa-solid fa-laptop card__iconProject">
          </i></a><a href="https://github.com/crisrodriguezgar/hangman-game" target="_blank"><i
            class="fa-brands fa-github-alt card__iconProject"></i></a>
      </div>
    </div>

    <div class="card">
      <a href="https://crisrodriguezgar.github.io/piedra-papel-tijeras/" target="_blank"><img class="card__img" src="./assets/images/desktop-piedra.png" alt="proyecto piedra papel o tijera" /></a>
      <h3 class="card__title">Juego Piedra, papel o tijera</h3>
      <p class="card__tech">HTML | SCSS | JavaScript</p>
      <div><a href="https://crisrodriguezgar.github.io/piedra-papel-tijeras/" target="_blank"><i class="fa-solid fa-laptop card__iconProject">
        </i></a><a href="https://github.com/crisrodriguezgar/piedra-papel-tijeras" target="_blank"><i class="fa-brands fa-github-alt card__iconProject"></i></a>
      </div>
    </div>

    <div class="card">
      <a href="https://crisrodriguezgar.github.io/memory-art/" target="_blank"><img class="card__img" src="./assets/images/desktop-memory.png" alt="proyecto memory art" /></a>
      <h3 class="card__title">Juego Memory Art</h3>
      <p class="card__tech">HTML | SCSS | JavaScript</p>
      <div><a href="https://crisrodriguezgar.github.io/memory-art/" target="_blank"><i class="fa-solid fa-laptop card__iconProject">
        </i></a><a href="https://github.com/crisrodriguezgar/memory-art" target="_blank"><i class="fa-brands fa-github-alt card__iconProject"></i></a>
      </div>
    </div>

    <div class="card">
      <a href="https://crisrodriguezgar.github.io/owen-wilson/" target="_blank"><img class="card__img" src="./assets/images/desktop-owen.png" alt="proyecto Owen Wilson"/></a>
      <h3 class="card__title">Owen Wilson Woow!</h3>
      <p class="card__tech">HTML | SCSS | REACT</p>
      <div><a href="https://crisrodriguezgar.github.io/owen-wilson/" target="_blank"><i class="fa-solid fa-laptop card__iconProject">
        </i></a><a href="https://github.com/crisrodriguezgar/owen-wilson" target="_blank"><i class="fa-brands fa-github-alt card__iconProject"></i></a>
      </div>
    </div>

    <div class="card">
      <a href="https://proyectos-magicos.onrender.com/#/" target="_blank" rel="noopener noreferrer"><img class="card__img" src="./assets/images/desktop-magicos.png" alt="proyectos mágicos" /></a>
      <h3 class="card__title">Proyectos mágicos</h3>
      <p class="card__tech">HTML | SCSS | REACT | MySQL</p>
      <div><a href="https://proyectos-magicos.onrender.com/#/" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-laptop card__iconProject">
        </i></a><a href="https://github.com/crisrodriguezgar/proyectos-magicos" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github-alt card__iconProject"></i></a>
      </div>
    </div>
    <div class="card">
      <a href="https://crisrodriguezgar.github.io/awesome-profile-cards/" target="_blank" rel="noopener noreferrer"><img class="card__img" src="./assets/images/desktop-awesome.png" alt="Proyecto The awesome profile cards" /></a>
      <h3 class="card__title">The Awesome Profile-cards</h3>
      <p class="card__tech">HTML | SCSS | JavaScript</p>
      <div><a href="https://crisrodriguezgar.github.io/awesome-profile-cards/" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-laptop card__iconProject">
        </i></a><a href="https://github.com/crisrodriguezgar/awesome-profile-cards" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github-alt card__iconProject"></i></a>
      </div>
    </div>
  </div>

</section>