<section class="sectionProjects">
  <h2 class="titleProjects">proyectos</h2>
  <div class="box">
    <div class="card">
      <img class="card__img" src="./assets/images/aho.png" alt="" />
      <h3 class="card__title">Juego del Ahorcado</h3>
      <p class="card__tech">HTML | SCSS | REACT</p>
    </div>

    <div class="card">
      <img class="card__img" src="./assets/images/ppt.jpg" alt="" />
      <h3 class="card__title">Juego Piedra, papel o tijera</h3>
      <p class="card__tech">HTML SCSS JavaScript</p>
    </div>

    <div class="card">
      <img class="card__img" src="./assets/images/a.png" alt="" />
      <h3 class="card__title">Awesome cards</h3>
      <p class="card__tech">HTML SCSS JavaScript</p>
    </div>

    <div class="card">
      <img class="card__img" src="./assets/images/a.png" alt="" />
      <h3 class="card__title">Proyectos mágicos</h3>
      <p class="card__tech">HTML SCSS JavaScript</p>
    </div>

    <div class="card">
      <img class="card__img" src="./assets/images/wow.jpg" alt="" />
      <h3 class="card__title">Owen Wilson</h3>
      <p class="card__tech">HTML SCSS JavaScript</p>
    </div>

    <div class="card">
      <img class="card__img" src="./assets/images/a.png" alt="" />
      <h3 class="card__title">Memory art (en construcción)</h3>
      <p class="card__tech">HTML SCSS JavaScript</p>
    </div>
  </div>
  <svg class="bicho2" viewBox="0 0 1200 110">
    <path
      d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
      class="shape-fill"
    ></path>
  </svg>
</section>
