@mixin font($family, $size, $color, $weight) {
    font-family: $family;
    font-size: $size;
    color: $color;
    font-weight: $weight;
  }
  

@mixin icon($fontSize, $color) {
  font-size: $fontSize;
  color: $color;
}

@mixin center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin dFlex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin padding($inline, $block) {
  padding-inline: $inline;
  padding-block: $block;
}

@mixin margin($inline, $block) {
  margin-inline: $inline;
  margin-block: $block;
}

@mixin btn($border, $radius, $background) {
  border: $border;
  border-radius: $radius;
  background: $background;
}
