// Tipos de letras
$merriweather: 'Merriweather', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$openSans: 'Open Sans', sans-serif;
$font-main: 'Roboto', sans-serif;

// Grosor de las letas (font-weight)
$regular: 400;
$semiregular: 500;
$semiBold: 600;
$bold: 700;
$blackBold: 900;

//colores

//header
$white: #ffffff;
$buttonH: #ded7f6;
$backgroundH: #ffffff;

//Main
$backgroundM: #90e6e3;
$backgroundMClaro: rgb(214, 247, 245);
$button1: #38d0d0;
$button2: #e1b0f4;
$line: #b1b8f1;

//Illustration
$BackgroundI: #f9f3f1;
$lineI: #ffb3b3;

//texts
$blackText: #000000;
$subtitle: #38d0d0;
$highlightedText2: #ffb3b3;
$button2Text: #391145;

//antiguos
$rosaoscuro: #d393a7;
$rosa: #fbd0d5;
$morado: #961b3c;
$granate: #d23c69;
$granateOscuro: #b4285a;
