// Tipos de letras
$merriweather: "Merriweather", sans-serif;
$montserrat: "Montserrat", sans-serif;
$openSans: "Open Sans", sans-serif;
$font-main: 'Roboto', sans-serif;

// Grosor de las letas (font-weight)
$regular: 400;
$semiregular: 500;
$semiBold: 600;
$bold: 700; 
$blackBold: 900;