.footer {
  background-color: $backgroundMClaro;
  padding-bottom: 2rem;
  @include font($montserrat, 1.5rem, $highlightedText2, bold);
  text-align: center;

  &__list {
    display: flex;
    padding-bottom: 2rem;
    gap: 2rem;
    @include font($montserrat, 1.5rem, $highlightedText2, bold);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    &--about,
    &--projects,
    &--tech {
      transition: 0.8s;
      cursor: pointer;
      color: $highlightedText2;
      &:hover {
        transform: scale(1.1);
        color: $highlightedText2;
      }
    }
  }
}
.copy {
  @include center-column;
}

.linkedin,
.git {
  @include icon(2rem, $highlightedText2);
  @include padding(0.5rem, 1.5rem);
}
// .header {
//   text-transform: uppercase;
//   z-index: 5;
//   position: fixed;
//   width: 100vw;
//   opacity: 90%;
//   background-color: $backgroundH;
//   display: flex;
//   justify-content: space-around;
//   &__list {
//     display: none;
//     @media (min-width: 768px) {
//       display: flex;
//       padding: 2rem;
//       gap: 2rem;
//       @include font($montserrat, 1.5rem, $subtitle, bold);
//       align-items: center;
//       &--about,
//       &--projects,
//       &--tech {
//         transition: 0.8s;
//         cursor: pointer;
//         color: $subtitle;
//         &:hover {
//           transform: scale(1.1);
//           color: $highlightedText2;
//         }
//       }
//     }
//   }
