.header {
  text-transform: uppercase;
  z-index: 1;
  position: fixed;
  width: 100%;
  opacity: 80%;
  background-color: #FFE5B4;
  &__list {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
    @include font($montserrat, 1.5rem, white, bold);

    &--about {
      transition: 0.8s;
      cursor: pointer;
    }
    &--projects {
      transition: 0.8s;
      cursor: pointer;
    }
    &--tech {
      transition: 0.8s;
      cursor: pointer;
    }

    :hover {
      transform: scale(1.2);
    }
  }
}
