.sectionProjects {
  @include center-column;
  background-color: $backgroundM;
  position: relative;
}
.titleProjects {
  padding-block: 2rem;
  text-transform: uppercase;
  @include font($montserrat, 3rem, $button2Text, bold);
  @media (min-width: 768px) {
    font-size: 3.5rem;
  }
}

.box {
  //@include padding (3rem,3rem);
  padding-bottom: 2.5rem;
  @include center-column;
  gap: 2rem;
  justify-content: center;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline: 25rem;
  }
}
.card {
  @include center-column;
  @include btn(none, 1.5rem, $backgroundMClaro);
  @media (min-width: 768px) {
  }
  &__title {
    @include margin(0.5rem, 0.5rem);
    @include font($montserrat, 1.7rem, $highlightedText2, bold);
    text-align: center;
  }
  &__img {
    @include size(20rem, 14rem);
    margin: 2.3rem;
    transition: 0.8s;
    cursor: pointer;
    &:hover {
      transform: scale(1.08);
    }
  }
  &__tech {
    @include font($montserrat, 1.3rem, $highlightedText2, 300);
    @include padding(1.5rem, 1rem);
  }
}

.gitHub {
  display: inline-block;
  margin-inline: 1.5rem;
  margin-block: 1.5rem;
  
  &__link {
    display: flex;
    align-items: center;
  }

  &__iconProject {
    @include icon(2rem, $highlightedText2);
    margin: 1rem;
    cursor: pointer;
    transition: 0.8s;
    &:hover {
      color: $backgroundM;
    }
  }

  &__textProject {
    @include font($montserrat, 1.3rem, $highlightedText2, 300);
    transition: 0.8s;
    &:hover {
      color: $backgroundM;
    }
  }
}
