.sectionProjects {
  min-height: 100vh;
  position: relative;
  @include center-column;
}
.titleProjects {
  text-transform: uppercase;
  @include font($montserrat, 3rem, $morado, bold);
  @media (min-width: 768px) {
    font-size: 5rem;
  }
}

.box{
  // @include padding(3rem, 15rem);
  padding-bottom: 15rem;
  padding-top: 3rem;
  padding-inline: 5rem;
  @include center-column;
  gap: 2rem;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.card {
  @include size(25rem, 40rem);
  @include center-column;
  @include btn(none, 3rem, $rosa);
  &__title {
    @include margin(1.5rem, 1.5rem);
    @include font($montserrat, 1.7rem, $rosaoscuro, bold);
    text-align: center;
  }
  &__img {
    @include margin(1.5rem, 1.5rem);
    border-radius: 3rem;
    @include size(20rem, 20rem);
  }
  &__tech {
    @include font($montserrat, 1.3rem, $rosaoscuro, bold);
    @include padding(1.5rem, 1rem);
  }
}
.bicho2 {
  background-color: $white;
  fill: $rosa;
  position: absolute;
  bottom: 0;
}