<footer class="footer">
  <div>
    <ul class="footer__list">
      <a href="#home">
        <li class="footer__list--about">Inicio</li>
      </a>
      <a href="#aboutMe">
        <li class="footer__list--about">Sobre mí</li>
      </a>
      <a href="#projects">
        <li class="footer__list--projects">Proyectos</li>
      </a>
      <a href="#tech">
        <li class="footer__list--tech">Tecnologías</li>
      </a>
    </ul>
  </div>
  <div class="copy">
    <p>&copy; crisrodriguezgar 2024</p>
    <div>
      <a href="https://www.linkedin.com/in/cristinarodriguezgar" target="_blank"><i
          class="fa-brands fa-linkedin linkedin"></i></a>
      <a href="https://github.com/crisrodriguezgar" target="_blank"><i class="fa-brands fa-github-alt git"></i></a>
    </div>

  </div>
</footer>