<header>
  <nav class="header">
    <ul class="header__list">
      <a href="#home">
        <li class="header__list--about">inicio</li>
      </a>
      <a href="#aboutMe">
        <li class="header__list--about">Sobre mí</li>
      </a>
      <a href="#projects">
        <li class="header__list--projects">Proyectos</li>
      </a>
      <a href="#tech">
        <li class="header__list--tech">Tecnologías</li>
      </a>
    </ul>
    <ul class="header__redes">
      <!-- <a class="header__redes--cv" href="./downloads/CV-CristinaRodriguez-FrontEnd.pdf"
        download="CV-CristinaRodriguez-FrontEnd.pdf">
        CV</a> -->
      <a href="https://www.linkedin.com/in/cristinarodriguezgar" target="_blank">
        <li><i class="fa-brands fa-linkedin header__redes--linkedin"></i></li>
      </a>
      <a href="https://github.com/crisrodriguezgar" target="_blank">
        <li><i class="fa-brands fa-github-alt header__redes--git"></i></li>
      </a>
    </ul>
</header>


<div class="containerHamb">
  <div class="hamb">
    <div>
      <label class="hamburger">
        <input type="checkbox" class="js-hamburger">
        <svg viewBox="0 0 32 32">
          <path class="line line-top-bottom"
            d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
          </path>
          <path class="line" d="M7 16 27 16"></path>
        </svg>
      </label>
    </div>
    <div class="hello hidden js-menuH">
      <div class="headerH">
        <ul>
          <a href="#home">
            <li class="headerH__textH">inicio</li>
          </a>
          <a href="#aboutMe">
            <li class="headerH__textH">Sobre mí</li>
          </a>
          <a href="#projects">
            <li class="headerH__textH">Proyectos</li>
          </a>
          <a href="#tech">
            <li class="headerH__textH">Tecnologías</li>
          </a>
        </ul>
        <ul class="headerH__hredes">
          <!-- <a class="headerH__hambRedes" href="./downloads/CV-CristinaRodriguez-FrontEnd.pdf"
            download="CV-CristinaRodriguez.pdf">CV</a> -->
          <a href="https://www.linkedin.com/in/cristinarodriguezgar" target="_blank">
            <li><i class="fa-brands fa-linkedin headerH__hambRedes"></i></li>
          </a>
          <a href="https://github.com/crisrodriguezgar" target="_blank">
            <li><i class="fa-brands fa-github-alt headerH__hambRedes"></i></li>
          </a>
        </ul>
      </div>
    </div>
  </div>

</div>