<section class="sectionHome" id="home">

    <div class="imgHome">
        <img class="imgHome__stain" src="./images/mancha.png" alt="mancha colorida">
        <img class="imgHome__photo" src="./images/cv.png" alt="foto de cristina">
    </div>
    <div class="textHome">
        <h2 class="subtitleHome" data-section="home" data-value="welcome">¡Hola! mi nombre es</h2>
        <h1 class="titleHome">Cristina Rodríguez</h1>
        <p class="subtitleFront" data-section="home" data-value="rol">&lt;Desarrolladora Front-End Junior/&gt;</p>
    </div>

    <div id="aboutMe">
        <svg class="vibe" viewBox="0 0 1200 110">
            <path
                d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                class="shape-fill"></path>
        </svg>
    </div>
    
</section>